# MY FIRST PROGRAM

In [32]:
print("Hello world")

Hello world

In [33]:
print("Daripineni Teja")

Daripineni Teja

In [34]:
print(hello)

NameError: name 'hello' is not defined

**String should be in inverted comma**

In [35]:
print(1)

1

### Variables

In [37]:
name = ("Daripineni Teja")
age = (20)
Salary = (20000)

In [39]:
print(name)
print(age)
print(Salary)

Daripineni Teja
20
20000

In [41]:
namelist  = "Daripineni","Teja"

In [42]:
namelist

('Daripineni', 'Teja')

In [ ]:
name list = "Daripineni","Teja

name list

**Space not allowed in Variables**

In [44]:
2namelist = "Daripineni","Teja"
2namelist

SyntaxError: invalid decimal literal (2662206643.py, line 1)

**Variable name should not start with number**

In [45]:
name_list = "Daripineni","Teja"

In [46]:
name_list

('Daripineni', 'Teja')

In [47]:
name+list = "Daripineni","Teja"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1628366224.py, line 1)

In [48]:
name+list

TypeError: can only concatenate str (not "type") to str

**Variable name should start with (A-Z) and (a-z)**

**Only Underscore(_)Special Charcater allowed in between the variable name**

# DATA TYPES

In [49]:
type("ai")

str

In [51]:
name = "Daripineni"
type(name)

str

In [52]:
x = 100
type(x)

int

In [53]:
y = 100.9
type(y)

float

In [54]:
a = True
type(a)

bool

In [55]:
b = False
type(b)

bool

In [56]:
a = true

NameError: name 'true' is not defined

**Python is Case sensitive**

In [57]:
z = "True"
type(z)

str

In [58]:
z = "False"
type(z)

str

# LISTS

In [61]:
sample_list=[0,1,2,3,4,5,"HI",6,7,8,9,10]

In [62]:
print(sample_list)

[0, 1, 2, 3, 4, 5, 'HI', 6, 7, 8, 9, 10]

In [63]:
type(sample_list)

list

In [64]:
sample_list[4]

4

In [65]:
sample_list[9]

8

In [66]:
sample_list[-1]

10

In [68]:
sample_list[0]=100
print(sample_list)

[100, 1, 2, 3, 4, 5, 'HI', 6, 7, 8, 9, 10]

**List enclosed with []**

**List is Mutable**


# TUPLE

In [71]:
sample_tuple=(0,1,2,3,4,5,"HI",6,7,8,9,10)

In [72]:
print(sample_tuple)

(0, 1, 2, 3, 4, 5, 'HI', 6, 7, 8, 9, 10)

In [73]:
type(sample_tuple)

tuple

In [74]:
sample_tuple(4)

TypeError: 'tuple' object is not callable

In [75]:
sample_tuple[4] = 8

TypeError: 'tuple' object does not support item assignment

**Tuple starts with ()brackets**

**Tuple is Mutable**

#**SETS**

In [1]:
sample_set = {-1,1,2,3,4,5,1,13.4,9,6,8,35,65,12,"Teja","Aravind"}

In [2]:
sample_set

{-1, 1, 12, 13.4, 2, 3, 35, 4, 5, 6, 65, 8, 9, 'Aravind', 'Teja'}

In [3]:
sample_set[0] = 1

TypeError: 'set' object does not support item assignment

In [4]:
sample_set[0]

TypeError: 'set' object is not subscriptable

In [5]:
sample_set.add(100)

In [6]:
sample_set

{-1, 1, 100, 12, 13.4, 2, 3, 35, 4, 5, 6, 65, 8, 9, 'Aravind', 'Teja'}

In [7]:
sample_set.remove(-1)

In [8]:
sample_set

{1, 100, 12, 13.4, 2, 3, 35, 4, 5, 6, 65, 8, 9, 'Aravind', 'Teja'}

In [9]:
sample_set.add(200)

In [10]:
sample_set

{1, 100, 12, 13.4, 2, 200, 3, 35, 4, 5, 6, 65, 8, 9, 'Aravind', 'Teja'}

**Set does not allow duplicates** 

**we cannot retrive the set using index**

**Set is Mutable**

**Set has {}**

**Ordered-First place**

**DICTONARIES**

In [12]:
dict_1={'name':"arun","hobbies":["painting","Singing","Cooking"],1:23}

In [13]:
dict_1

{'name': 'arun', 'hobbies': ['painting', 'Singing', 'Cooking'], 1: 23}

In [14]:
dict_1[keys]

NameError: name 'keys' is not defined

In [15]:
dict_1.keys()

dict_keys(['name', 'hobbies', 1])

In [16]:
dict_1.values()

dict_values(['arun', ['painting', 'Singing', 'Cooking'], 23])

In [18]:
dict_1['name']="Mukund"

In [20]:
dict_1

{'name': 'Mukund', 'hobbies': ['painting', 'Singing', 'Cooking'], 1: 23}

In [21]:
del dict_1["name"]

In [22]:
dict_1

{'hobbies': ['painting', 'Singing', 'Cooking'], 1: 23}

In [ ]:
dict_1.update({"class":ds})

In [24]:
dict_1

{'hobbies': ['painting', 'Singing', 'Cooking'], 1: 23}

In [27]:
dict_1.update({"class":"ds"})

In [29]:
dict_1

{'hobbies': ['painting', 'Singing', 'Cooking'], 1: 23, 'class': 'ds'}

In [30]:
len(dict_1)

3